{% load static %}
{% load leaflet_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bonobo</title>
    <meta name="authors" content="Nekeal, SirPatrykKawa">
    <meta name="description" content="AGH UST database class project">
    <link rel="icon" href="{% static 'img/logo.png' %}">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    {% leaflet_css %}
    <style>
        #bonobo-map {
            top: 0;
            bottom: 0;
            height: 100%;

        }
    </style>
</head>
<body style="background-color: #5a6268">
<script>
    window.onload = getLocation;

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(setPosition);
        } else {
            window.alert("Geolocation is not supported by this browser.");
        }
    }

    function setPosition(position) {
        const urlParams = new URLSearchParams(window.location.search);
        window.latitude = position.coords.latitude;
        window.longitude = position.coords.longitude;
        document.forms["GPS_form"]["shopXCoordinates"].value = position.coords.longitude;
        document.forms["GPS_form"]["shopYCoordinates"].value = position.coords.latitude;
        document.forms["GPS_form"]["radius"].value = parseInt(urlParams.get("radius")) || 1;

    }
</script>
<form class="Bonobo-main" method="get" role="form" id="GPS_form">
    {% csrf_token %}
    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand mb-lg-3 h3">Bonobo - shop well, feel well!</span>
    </nav>
    <img class="rounded mx-auto d-block p-4" src="{% static 'img/logo.png' %}" alt="" width="300" height="300">
    <h1 class="h3 mb-3 font-weight-normal text-center p-1">Enter your localization</h1>
    <label for="shopXCoordinates" class="label p-0 "></label>
    <div class="centered">
        <div class="col-lg-4 input-group">
            <input name="long" type="text" id="shopXCoordinates" class="form-control" placeholder="X">
            <input name="lat" type="text" id="shopYCoordinates" class="form-control" placeholder="Y">
        </div>
    </div>
    <label for="shopYCoordinates" class="label p-1"></label>
    <div class="centered">
        <div class="col-lg-4 input-group">
            <input name="radius" type="text" id="radius" class="form-control" placeholder="Radius">
            <select name="unit" id="unit" class="form-control" form="GPS_form">
                <option value="km">Kilometer</option>
                <option value="m">Meter</option>
                <option value="cm">Centimeter</option>
            </select>
        </div>
    </div>
    <div class="centered">
        <div class="col-lg-6-">
            <button class="btn btn-primary pb-2" type="submit">Search for the shop!</button>
        </div>
    </div>
    <h1 class="h3 mb-3 font-weight-normal text-center">Or ... <br></h1>
    <div class="centered">
        <div class="col-lg-6-">
            <button onclick="getLocation()" class="btn btn-primary pb-2" type="button">Load your location!</button>
        </div>
    </div>
</form>

{% if shop_list %}
    <div style="width: 60%; height:600px; margin: auto">
        {% leaflet_map "bonobo-map" callback="window.map_init_basic" %}
    </div>
    {% leaflet_js %}

    <script>
        function map_init_basic(map, options) {
            const urlParams = new URLSearchParams(window.location.search);
            const unitConverter = {
                km: 1000,
                m: 1,
                cm: 0.1,
            };
            let lat = urlParams.get("lat");
            let long = urlParams.get("long");
            let unit = urlParams.get("unit") || "m";
            let defaultRadius = parseInt(urlParams.get("radius")) || 1
            let radius = defaultRadius * unitConverter[unit];
            console.log(radius);
            console.log(21213123);
            L.circle([lat, long], radius, {
                    color: '#000080',
                    width: .5,
                    fillColor: 'blue',
                    fillOpacity: 0.2
                }
            ).addTo(map)
            {% for shop in shop_list %}
                L.marker([{{ shop.location.y }}, {{ shop.location.x }}], {title: "{{ shop.slug }}"}).addTo(map);
            {% endfor %}
            map.panTo([lat, long]);
            map.setView([lat, long], 12)
        }
    </script>
{% elif request.GET.csrfmiddlewaretoken %}
    <h2 style="text-align: center;">There are no bonobo shops near you. Try to increase radius.</h2>
{% endif %}
</body>
</html>

