{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bonobo</title>
    <meta name="authors" content="Nekeal, SirPatrykKawa">
    <meta name="description" content="AGH UST database class project">
    <link rel="icon" href="{% static 'img/logo.png' %}">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
</head>
<body style="background-color: #5a6268">
<script>
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(setPosition);
        } else {
            window.alert("Geolocation is not supported by this browser.");
        }
    }

    function setPosition(position) {
        window.alert("X: " + position.coords.latitude + " and Y: " + position.coords.longitude);
        document.forms["GPS_form"]["shopXCoordinates"].value = position.coords.longitude;
        document.forms["GPS_form"]["shopYCoordinates"].value = position.coords.latitude;
    }
</script>
<form class="Bonobo-main" method="get" role="form" id="GPS_form">
        {% csrf_token %}
    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand mb-lg-3 h3">Bonobo - shop well, feel well!</span>
    </nav>
    <img class="rounded mx-auto d-block p-4" src="{% static 'img/logo.png' %}" alt="" width="300" height="300">
    <h1 class="h3 mb-3 font-weight-normal text-center p-1">Enter shop coordinates</h1>
    <label for="shopXCoordinates" class="label p-0 "></label>
    <div class="centered">
        <div class="col-lg-4 input-group">
            <input name="lat" type="text" id="shopXCoordinates" class="form-control" placeholder="X">
            <input name="long" type="text" id="shopYCoordinates" class="form-control" placeholder="Y">
        </div>
    </div>
    <label for="shopYCoordinates" class="label p-1"></label>
    <div class="centered">
        <div class="col-lg-4 input-group">
            <input name="radius" type="text" id="radius" class="form-control" placeholder="Radius">
            <select name="unit" id="unit" class="form-control" form="GPS_form">
                <option value="km">Kilometer</option>
                <option value="m">Meter</option>
                <option value="cm">Centimeter</option>
            </select>
        </div>
    </div>
    <div class="centered">
        <div class="col-lg-6-">
            <button class="btn btn-primary pb-2" type="submit">Search for the shop!</button>
        </div>
    </div>
    <h1 class="h3 mb-3 font-weight-normal text-center">Or ... <br></h1>
    <div class="centered">
        <div class="col-lg-6-">
            <button onclick="getLocation()" class="btn btn-primary pb-2" type="button">Load your location!</button>
        </div>
    </div>
</form>

<ul>
    {% for shop in shop_list %}
        <li><a href="{{ shop.maps_url }}"><img style="width: 20px;"
                                               src="{% static 'img/google-maps.png' %}"
                                               alt="google-maps-link"></a>{{ shop.slug }} {{ shop.distance | floatformat:0 }}m
        </li>
    {% endfor %}
</ul>
</body>
</html>
